.camera-wrapper {
	min-width: 100vw;
	min-height: 100vh;
	position: relative;
}

.camera {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.camera-wrapper button {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, 0);
	border: none;
	background-color: white;
	color: green;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 0.7rem 4.8rem;
	border-radius: 0.4rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	transition: all 0.02s ease-in;
	z-index: 1;
}

.camera-wrapper button:hover {
	cursor: pointer;
	box-shadow: none;
}
